#box {
  background: rgb(121, 228, 230);
  border: 2px solid rgb(12, 192, 102);
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: block;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 16px 24px 16px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.heading {
  color: rgb(10, 6, 207);
  font-size: 65px;
  font-weight: bold;
  padding: 100px;
  text-align: center;
}

.search {
  text-align: center;
  padding: 100px;
}

form {
  font-size: 30px;
  margin: 0;
  padding: 0 20 0 20;
  position: relative;
  top: -35px;
  left: 40px;
}

#city {
  font-size: 50px;
  text-align: center;
}
#current-date {
  color: green;
  font-display: bold;
  font-size: 50px;
  text-align: center;
}
#city-temp {
  font-display: bold;
  font-size: 50px;
  text-align: center;
}
.units {
  font-display: bold;
  font-size: 50px;
  text-align: right;
}
img {
  position: static;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.today-container {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 200px 100px;
  padding: 20px;
  background-color: #26c8ee;
  border-radius: 10px;
}
.col {
  color: #1512f3;
  font-size: 50px;
  text-align: center;
  bottom: 50px;
}

.developer {
  text-align: center;
  font-size: 22px;
}
.contact {
  text-align: center;
  font-style: underline;
  font-size: 25px;
}
